@import "_variables";
@import "_mainboxmixins";

body {
    font-family:    $body-font-family;
    font-size:      $body-font-size;
    line-height:    2em;
    background:    $body-bkgrd $white repeat-x;
    @include margin(0,0,0,0);
     }

main{
    @include size-width-only(40px + (30px * 3) * 10 ); //math operation
  //  @include size-width-only (940px);           
    @include margin(0,auto,0,auto);
    @include padding(0,10px,0,10px);
}

/* FIGURE */
figure {
    @include size();
    background:$nav-bkgrd  no-repeat 0 50px;
    @include margin(0,0,0,0);
    @include position-with-float();
    display:block; }

/* NAVIGATION */
nav {
    @include size(540px,190px);
    text-align:right;
    @include position-with-float();
 ul {
     list-style-type:none;
     @include margin(95px,0,0,0);
 li {
     display:inline;
    font-size:$navlist-fontsize;
    @include margin(0,10px,0,0);
 a  {
     color: $salmon ;
     text-decoration:none;
     letter-spacing:-0.01em;
    & :hover{
     color:$white;} } } } }



/* HEADER */
header {
    text-align:center;
    @include size-width-only(inherit);
    @include padding(40px,0,0,0);
    @include position-with-clear(both);
img {
    max-width:100%;height:auto;}
 h1 {
     color:$salmon;font-weight:$h1-fontweight;font-size:$h1-fontsize;line-height:0;}
 h2 {
     color:$white;font-weight:$h2-fontweight;font-size:$h2-fontsize;line-height:0;
     @include margin(0,0,70px,0);}
 h3 {
     color:$lightgrey;font-weight:$h3-fontweight;font-size:$h3-fontsize;line-height:0;
     @include margin(0,0,50px,0);} }

/* CONTENT */
#headline {
    background:$salmon;
    text-align:center;
    @include size(100%,130px);
    @include margin(0,auto,0,auto);
h1 {
    color:$white;font-size:$h1-fontsize;font-weight: $h1-fontweight;
    @include padding(50px,0,0,0);} }
#content {
    @include size-width-only(940px);
    @include margin(20px,auto,20px,auto);
    h3 {
        color:$lightgrey;
        font-size:$h3-fontsize;
        font-weight:$h3-fontweight;}
#products {
    @include size-width-only(460px);
    @include position-with-float();
    
img {  @include position-with-float();
    @include margin(0,20px,0,0);
}

article{
    @include margin(0,0,40px,0);}
h4{
    line-height:1em;} }
#testimonials{
    @include size-width-only(460px);
    @include position-with-float(right);} }

/* FOOTER */
.greybar {
    background:$pearlwhite;
    @include size(100%,90px);
    @include padding(30px,0,0,0);
    @include position-with-clear(both);}
footer  {
    background:$darkgrey;
    text-align:center;
    color:$white;
    @include size(100%,120px);
    @include padding(50px,0,0,0);}
.social-media  {
    @include size-width-only(165px);
    @include margin(0,auto,0,auto);}
.social-media div {
     @include position-with-float();
     @include margin(0,5px,0,0);}
.social-media a {display:block;@include size(36px,36px);text-indent:-9999px;}
.social-media div.one {background: $footer-img 0 0;}
.social-media div.two  {background:$footer-img -38px 0;}
.social-media div.three {background:$footer-img -76px 0;}
.social-media div.four  {background: $footer-img -114px 0;} 

@media screen and (max-width:959px) {
main {
    @include size-width-only(768px);}
figure{
    @include size(inherit,140px);
    @include position-with-float(none);
    background-position:center;}
nav {
    @include size(inherit,50px);
    @include position-with-float(none);
    text-align:center;
ul {
    @include margin(0,0,0,0);
    li	{
        font-size:1em;
        @include margin(0,10px,0,10px);} } }
header h1 {font-size:3em;}
header h2 {font-size:1.5em;}
#content {
    @include size-width-only(inherit);
#products{
#testimonials{
    @include size-width-only(46%);
    @include margin(0,2%,0,2%);
     
     } } }
     @include large();
}
@media screen and (max-width:767px) {
    main                        {@include size-width-only(460px);}    
    nav ul li                   {font-size:0.8em; 
                                @include margin(0,5px,0,5px);}
    header h1					{font-size:2em;}
    header h2 					{font-size:1em;}
    header img			 		{@include margin(0,0,100px,0);}
    header h3					{font-size:1.5em;}
    #headline h1 				{font-size:2em; @include padding(50px,0,0,0);}
    #content {
    #products{
    #testimonials{              @include size-width-only(96%);
                                @include margin(0,2%,0,2%);
                                @include position-with-float(none);
                            
                                 
                                } } }
                                @include medium();
}

@media screen and (max-width:459px) {
    main 						{@include size-width-only(300px);}
    figure						{background-size:contain; @include size(null,100px);}
    nav							{@include margin(0,0,40px,0);}
    select              		{@include size-width-only(95%);}
    #headline h1 				{font-size:1.5em;@include padding(30px,0,0,0);}
    header {
        img	{@include margin(0,0,80px,0);}
    h1:first-child		{font-size:1.4em;@include margin(0,0,20px,0);}
    h2					{font-size:1.4em;}
    h3					{color:$white;font-size:1em;} }
    #content h3					{font-size:1.6em;}
    .greybar, article img		{display:none;}
    footer	{text-align:center;
        p{ 
    img{
        @include margin(0,0,0,0);
        @include position-with-float(none);} } }
        @include small();  
}