@mixin size($width:400px, $height:190px){
    width:$width;
    height:$height;
}

@mixin size-width-only($width:440px){
    width:$width;
}

@mixin padding($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
  }
  
  @mixin margin($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
  }

@mixin position-with-clear($clear:none){
    clear: $clear;
}

@mixin position-with-float($float:left){
    float: $float;
}

@mixin large{
    @media (max-width:959px){
        @content;
    }
}

@mixin medium{
    @media (max-width:767px){
        @content;
    }
}
@mixin small{
    @media (max-width:459px){
        @content;
    }
}






