/*colors*/
$pearlwhite     : #f5f6f6;
$salmon         : #E65C43;
$white          : #FFF;
$lightgrey      : #666;
$darkgrey       : #30353D;

/*image paths*/

$body-bkgrd : url('../images/bg.gif');
$nav-bkgrd : url('../images/logo.png');
$footer-img : url('../images/social-media.png');

/*web fonts*/

$body-font-family : 'Roboto', sans-serif;
$body-font-size : 1em;
$navlist-fontsize :0.8em;
$h1-fontweight : 100;
$h2-fontweight : 900;
$h3-fontweight : 400;
$h1-fontsize :4em;
$h2-fontsize :2.5em;
$h3-fontsize :2em;